.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*cookies form*/
.cookies-form {
    height: 72px;
    text-align: center;
    background-color: #194277;
    color: #fff;
}
#btn-cookies-accept {
    margin: 20px 20px;
    width: 112px;
    height: 30px;
    border-radius: 15px;
    color: #194277;
    background-color: #fff;
}

header {
    display: block;
    background-image: url("../img/header-background-image.png");
    background-size: 100%;
}

.header-content-wrapper {
    max-width: 820px;
    margin: auto;
}
nav {
    display: block;
}
.navigation{
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown-button {
    background: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    outline: none;
    display: block;
    float: right;
    padding: 20px;
}
.nav-dropdown-content {
    position: absolute;
    width: 120px;
    display: none;
    list-style: none;
    background: #194277;
    z-index: 1;
    right: 0;
}
.nav-dropdown-content li {
    padding: 3px;
    border: 1px solid #fff;
}

.nav-dropdown-content li:hover {
    background: #3677fd;
}

.nav-dropdown-content li a {
    text-decoration: none;
    color: white;
    padding: 3px;
}

.navigation:hover .nav-dropdown-content {
    display: block;
}

.face-image-wrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}

.header-title h1 {
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 46px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.header-title p{
    margin: auto;
    max-width: 765px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.hire-me-header-wrap{
    text-align: center;
    padding: 40px 0;
}
.btn-def {
    height: 55px;
    width: 204px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    color: #3695ff;
    outline: none;
}

.btn-def:hover {
    color: #194277;
}

.little-nav-arrow {
    text-align: center;
    padding: 10px;
}
.little-nav-arrow img {
    max-width: 15px;
}

/*MAIN BLOCK*/
/*About me block*/
.about-me-block {
    padding: 50px;
    text-align: center;
}
.about-me-block h2 {
    padding: 20px;
    font-size: 50px;
    font-weight: 400;
    color: #3677fd;
}
.about-me-block p {
    margin: auto;
    max-width: 1070px;
    font-size: 16px;
    line-height: 35px;
    padding: 15px;
}
/*Expert in block*/
.expert-in-block {
    padding: 20px;
    background-color: #f1f8ff;
}
.expert-in-block h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 300;
    color: #3677fd;
}

.expert-container {
    max-width: 1170px;
    margin: auto;
}
.expert-element {
    float: left;
    width: 32.5%;
    display: inline-block;
    text-align: center;
    border: 3px solid transparent;
    border-radius: 25px;
}
.latest-works .expert-element:hover {
    border: 3px solid #3677fd;
}

.expert-element img {
    padding: 20px;
}
.expert-element h3 {
    color: #3677fd;
    font-weight: 300;
    font-size: 24px;
}
.expert-element p {
    padding: 10px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    .expert-element {
        display: block;
        width: 100%;
    }
}
/*Latest works block*/
.latest-works {
    padding: 20px 20px 50px 20px;
}
.latest-works h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 300;
    color: #3677fd;
}
.latest-works .expert-element img {
    max-width: 95%;
}
/*Clients*/
.clients {
    padding: 50px 0;
    background-color: #f1f8ff;
}
.clients h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 300;
    color: #3677fd;
    margin-bottom: 25px;
}
.clients-container {
    max-width: 1100px;
    margin: 0 auto;
}
.clients-container li {
    content: "";
    width: 22%;
    float: left;
    text-align: center;
    padding: 1%;
}

.client-element a {
border: 1px solid red;
}


@media only screen and (max-width: 768px) {
    .client-element {
        display: block;
        width: 100%;
    }
}

.microsoft {
    width: 192px;
    height: 41px;
    font-size: 0;
    background: url(../img/microsoft-logo.png) center no-repeat;
}

.microsoft:hover {
    background: url(../img/microsoft-logo-active.png) center no-repeat;
    cursor: pointer;
}

.samsung {
    width: 185px;
    height: 28px;
    font-size: 0;
    background: url(../img/samsung-logo.png) center no-repeat;
}

.samsung:hover {
    background: url(../img/samsung-logo-active.png) center no-repeat;
    cursor: pointer;
}
.ibm {
    width: 140px;
    height: 52px;
    font-size: 0;
    background: url(../img/ibm_logo.png) center no-repeat;
}

.ibm:hover {
    background: url(../img/ibm_logo-active.png) center no-repeat;
    cursor: pointer;
}

.google {
    width: 170px;
    height: 56px;
    font-size: 0;
    background: url(../img/google-logo.png) center no-repeat;
}

.google:hover {
    background: url(../img/google-logo-active.png) center no-repeat;
    cursor: pointer;
}

footer {
    background-image: url("../img/footer-background-image.png");
    background-size: 100%;
    padding: 60px 0;
}
.wrap {
    width: 1170px;
    margin: 0 auto;
}
.footer {
    text-align: center;
    margin: auto;
}
.footer h2 {
    display: inline-block;
    color: white;
    min-height: 60px;
    float: left;
    font-weight: 200;
    font-size: 50px;
}

@media only screen and (max-width: 1300px) {
    .footer-hire form {
        display: block;
        text-align: center;
        height: 60px;
        width: 100%;
        padding: 30px 0;
    }
}

.footer button {
    height: 55px;
    width: 190px;
    background-color: white;
    border-radius: 27px;
    color: #3695ff;
    font-size: 16px;
    outline: none;
}